@using Web_food.Models
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<div class="all-content-wrapper product-status mg-b-30">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-status-wrap">
                <h4>Products List</h4>
                <div class="add-product">
                    @Html.ActionLink("Thêm sản phẩm", "them_sp", "Admin")
                </div>
                <table>
                    <tbody>
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Tên </th>
                        <th>Trạng thái</th>
                        <th>Số lượng</th>
                        <th>Giá giảm</th>
                        <th>Giá gốc</th>
                        <th>Thao tác</th>
                    </tr>
                    @foreach (Product product in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Content/image/@product.Images" width="50px" alt=""/>
                            </td>
                            <td>@product.Name</td>
                            <td>
                                @if (@product.Quantity == 0)
                                {
                                    <button class="pd-setting" style="background-color: red;color: white">hết</button>
                                }
                                else if (@product.Quantity < 10)
                                {
                                    <button class="pd-setting" style="background-color: orange;color: white">sắp hết</button>
                                }
                                else
                                {
                                    <button class="pd-setting" style="background-color: green;color: white">còn</button>
                                }
                            </td>
                            <td>@product.Quantity</td>
                            <td>
                                @{
                                    double discount = product.Price * 80 / 100;
                                }
                                @discount
                            </td>
                            <td>@product.Price</td>
                            <td>
<<<<<<< HEAD
                                <a href="@Url.Action("chinh_sua_sp","Admin",new{id = @product.Id})"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    </a>
                                <a onclick="return confirm('Bạn có chắc muốn xóa')"
                                   href="@Url.Action("xoa_sp","Admin", new{id = @product.Id})"><button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    </a>
=======
                                <a href="@Url.Action("chinh_sua_sp", "Admin")">
                                    <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <a href="@Url.Action("xoa_sp", "Admin")">
                                    <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </a>
>>>>>>> 69df8b6a0eee270c1edd2673ee8f528ccee9a202
                            </td>
                        </tr>
                    }
                   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<a id="scrollUp" href="#" style="position: fixed; z-index: 2147483647; display: block;">
    <i class="fa fa-angle-up"></i>
</a>