@using Web_food.Models
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="all-content-wrapper product-status mg-b-30">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-status-wrap">
                <h4>Product Type </h4>
                <div class="add-product">
                    @Html.ActionLink("Thêm loại sản phẩm", "them_loai_sp", "Admin")
                </div>
                <table>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Active</th>
                        <th>Thao tác</th>
                    </tr>
                    @foreach(ProductType protype in Model){
                        <tr>
                            <td>
                                @protype.Id
                            </td>
                            <td>
                                @protype.Name
                            </td>
                            <td>
                                @protype.Active
                            </td>
                            <td>
                                <a href="@Url.Action("chinh_sua_loaiSP","Admin",new {id=@protype.Id})">
                                    <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                        <i
                                            class="fa fa-pencil-square-o" aria-hidden="true">
                                        </i>
                                    </button>
                                </a>
                                <a href="@Url.Action("xoa_loai_sp","Admin",new{id = @protype.Id})">
                                    <button data-toggle="tooltip" title="Trash" class="pd-setting-ed">
                                        <i
                                            class="fa fa-trash-o" aria-hidden="true">
                                        </i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>