<<<<<<< HEAD
﻿@* @using System.Web.UI.WebControls *@
@* @model dynamic *@
@* *@
@* @{ *@
@*     ViewBag.Title = "Giỏ hàng"; *@
@* *@
@*     <link rel="stylesheet" href="~/CSSWeb/style.css" xmlns="http://www.w3.org/1999/html" *@
@*       xmlns="http://www.w3.org/1999/html"> *@
@* *@
@* } *@
@* <div class="container marketing"> *@
@*     <div class="cart-content" ng-controller="orderController" ng-init="initOrderCartController()"> *@
@*         <h1 class="title"><span>Giỏ hàng của tôi</span></h1> *@
@*         <div class="steps clearfix"> *@
@*             <ul class="clearfix"> *@
@*                 <li class="cart active col-md-2 col-xs-12 col-sm-4 col-md-offset-3 col-sm-offset-0 col-xs-offset-0"><span><i class="fa fa-shopping-cart"></i></span><span>Giỏ hàng của tôi</span><span class="step-number"><a>1</a></span></li> *@
@*                 <li class="payment col-md-2 col-xs-12 col-sm-4"><span><i class="fas fa-dollar-sign"></i></span><span>Thanh toán</span><span class="step-number"><a>2</a></span></li> *@
@*                 <li class="finish col-md-2 col-xs-12 col-sm-4"><span><i class="fas fa-check"></i></span><span>Hoàn tất</span><span class="step-number"><a>3</a></span></li> *@
@*             </ul> *@
@*         </div> *@
@*         <div class="cart-block"> *@
@*             <div class="cart-info table-responsive"> *@
@*                 <table class="table product-list"> *@
@*                     <thead> *@
@*                     <tr> *@
@*                         <th></th> *@
@*                         <th>Tên sản phẩm</th> *@
@*                         <th>Giá</th> *@
@*                         <th>Số lượng</th> *@
@*                         <th>Thành tiền</th> *@
@*                         <th></th> *@
@*                     </tr> *@
@*                     </thead> *@
@*                     <tbody> *@
@*                     <tr ng-repeat="item in OrderDetails"> *@
@*                         <td class="image"> *@
@*                             <a href="#"> <img src="~/Content/image/cơm.jpg" class="img-responsive" style="width: 50px;" /></a> *@
@*                         </td> *@
@*                         <td class="des"> *@
@*                             <h5><a href="#"></a> Cơm sườn</h5> *@
@*                             <span></span> *@
@*                         </td> *@
@*                         <td class="price">25.000 đ</td> *@
@*                         <td class="quantity"> *@
@*                             <input type="number" value="1" class="text" ng-model="item.Quantity" ng-change="updateItemCart(item)" /> *@
@*                         </td> *@
@*                         <td class="amount"> 25.000 đ *@
@*                         </td> *@
@*                    </tr> *@
@*                     </tbody> *@
@*                 </table> *@
@*             </div> *@
@*             <div class="clearfix text-right"> *@
@*                 <span><b>Tổng thanh toán: 25.000</b></span> *@
@*                 <span class="pay-price"> đ *@
@*             </span> *@
@*             </div> *@
@*             <div class="button text-right"> *@
@*                 <a class="btn btn-default btn-primary" href="@Url.Action("san_pham","Home")">Tiep tuc mua hang</a> *@
@*                  *@
@*                  <a class="btn btn-primary" href="@Url.Action("thanh_toan","Home")">Tien hanh thanh toan</a> *@
@*           *@
@*                 </div> *@
@*         </div> *@
@*     </div> *@
@*     <hr class="featurette-divider"> *@
@* *@
@* *@
@* </div><!-- /.container --> *@
@* *@
@using Web_food.Models
@model List<Web_food.Models.CartItem>
@{
    ViewBag.Title = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>

@if (Model == null || Model.Count == 0)
{
    <p class="text-info text-center">
        Giỏ hàng của bạn rỗng!
    </p>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Hình</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    @foreach (CartItem item in Model)
                    {
                        <tr>
                            <td class="text-center"><img src="~/Content/image/@item.Hinh" width="70" height="60"/> </td>
                            <td><a target="_blank" href="@Url.Action("gio_hang", "Home", new {id = item.SanPhamID})"> @item.TenSanPham </a> </td>
                            <td>
                                <form action="@Url.Action("SuaSoLuong")" method="get">
                                    <input type="hidden" name="SanPhamID" value="@item.SanPhamID"/>
                                    <input type="number" min="1" step="1" name="soluongmoi" value="@item.SoLuong"/>
                                    <button type="submit" class="btn btn-primary btn-sm"> Cập nhật </button>
                                </form>
                            </td>
                            <td> @item.DonGia.ToString("#,##0").Replace(',', '.') VNĐ </td>
                            <td> @item.ThanhTien.ToString("#,##0").Replace(',', '.') VNĐ </td>

                            <td> <a href="@Url.Action("XoaKhoiGio", new {SanPhamID = item.SanPhamID})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a> </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td class="text-right">Tổng số lượng:</td>
                        <td> @Model.Sum(m => m.SoLuong) </td>
                        <td class="text-right">Tổng thành tiền:</td>
                        <td>@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.') VNĐ </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
}
=======
﻿@using System.Web.UI.WebControls
@model dynamic

@{
    ViewBag.Title = "Giỏ hàng";

    <link rel="stylesheet" href="~/CSSWeb/style.css" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

}
<div class="container marketing">
    <div class="cart-content" ng-controller="orderController" ng-init="initOrderCartController()">
        <h1 class="title"><span>Giỏ hàng của tôi</span></h1>
        <div class="steps clearfix">
            <ul class="clearfix">
                <li class="cart active col-md-2 col-xs-12 col-sm-4 col-md-offset-3 col-sm-offset-0 col-xs-offset-0"><span><i class="fa fa-shopping-cart"></i></span><span>Giỏ hàng của tôi</span><span class="step-number"><a>1</a></span></li>
                <li class="payment col-md-2 col-xs-12 col-sm-4"><span><i class="fas fa-dollar-sign"></i></span><span>Thanh toán</span><span class="step-number"><a>2</a></span></li>
                <li class="finish col-md-2 col-xs-12 col-sm-4"><span><i class="fas fa-check"></i></span><span>Hoàn tất</span><span class="step-number"><a>3</a></span></li>
            </ul>
        </div>
        <div class="cart-block">
            <div class="cart-info table-responsive">
                <table class="table product-list">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in OrderDetails">
                        <td class="image">
                            <a href="#"> <img src="~/Content/image/cơm.jpg" class="img-responsive" style="width: 50px;" /></a>
                        </td>
                        <td class="des">
                            <h5><a href="#"></a> Cơm sườn</h5>
                            <span></span>
                        </td>
                        <td class="price">25.000 đ</td>
                        <td class="quantity">
                            <input type="number" value="1" class="text" ng-model="item.Quantity" ng-change="updateItemCart(item)" />
                        </td>
                        <td class="amount"> 25.000 đ
                        </td>
                   </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix text-right">
                <span><b>Tổng thanh toán: 25.000</b></span>
                <span class="pay-price"> đ
            </span>
            </div>
            <div class="button text-right">
                <a class="btn btn-default btn-primary" href="@Url.Action("san_pham","Home")">Tiep tuc mua hang</a>
                
                 <a class="btn btn-primary" href="@Url.Action("thanh_toan","Home")">Tien hanh thanh toan</a>
         
                </div>
        </div>
    </div>
    <hr class="featurette-divider">


</div><!-- /.container -->

>>>>>>> 69df8b6a0eee270c1edd2673ee8f528ccee9a202
