@* @model PagedList.IPagedList<Web_food.Models.Product> *@
@* @using PagedList.Mvc *@
@using Project.Models
@using Web_food.Models
@{
    List<ProductType> types = ViewBag.type;
    List<Product> list = ViewBag.list;
}
<main role="main">
    <div class="col">
        <button class="" style="background:  #ff363f"> SẢN PHẨM</button>
    </div>
</main>
<div class="nav">
    <nav class="pull-left row  col-lg-3">
        <div class="list-group col-sm-12" style="margin-top: 30px">
            <a href="@Url.Action("san_pham","Home")" class="list-group-item list-group-item-danger active">
                SẢN PHẨM
            </a>
            @foreach (var t in types)
                              {
                                  <a href="@Url.Action("san_pham","Home", new {type = @t.Id})" 
                                     class="list-group-item list-group-item-action">@t.Name</a>
                              }
        </div>
    </nav>
    <div class="container marketing col-lg-9">
        <div class="row">
            @{
                foreach (var p in list)
                {
                     
                    <div class="card" style="width: 17rem;">
                        <a href="@Url.Action("chi_tiet_sp", "Home", new { name = @p.Name })">
                            <img src="~/Content/image/@p.Images" class="card-img" alt="..." style="height: 17rem">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@p.Name</h5>
                            <p class="card-text">@p.Price đ</p>
                            <div class="cart">
                                <a href="@Url.Action("gio_hang", "Home")"> <button>Mua hàng</button></a>
                                <a href="@Url.Action("gio_hang", "Home")">
                                    <span style="font-size: 20px; color: #ff363f; margin-left: 5px">
                                        <i class="fas fa-shopping-basket"></i></span></a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        
        <br />
        @* Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount *@
        @* @Html.PagedListPager(Model, page => Url.Action("san_pham", new { page })) *@
        @* <div class="custom-pagination" style="margin-top: 40px"> *@
        @*     <ul class="pagination"> *@
        @*         <li class="page-item"><a class="page-link" href="">Previous</a></li> *@
        @*         $1$ <li class=""><a class="page-link" href="@Html.PagedListPager(Model,page => Url.Action("san_pham", new{page = page}))">1 </a></li> #1# *@
        @*         <li class=""><a class="page-link" href="">2 </a></li> *@
        @*         <li class=""><a class="page-link" href="">3 </a></li> *@
        @*         <li class="page-item"><a class="page-link" href="">Next</a></li> *@
        @*     </ul> *@
        @* </div> *@
        
@*          <div class="custom-pagination" style="margin-top: 40px"> *@
@*                         <ul class="pagination"> *@
@*                             <li class="page-item"><a class="page-link" *@
@*                                                      href="<%= Util.fullpath("ListProduct?page=1")%>">Previous</a></li> *@
@*                             @foreach (var p in page) *@
@*                             { *@
@*                             <li class=@{(i+1+"").equals(p1)}"active":""><a class="page-link" *@
@*                                                                               href="<%= Util.fullpath("ListProduct?page="+(i+1))%>"><%= (i + 1)%> *@
@*                             </a></li> *@
@*                             <%}%> *@
@*                            <li class="page-item"><a class="page-link" *@
@*                                                     href="<%= Util.fullpath("ListProduct?page="+sum)%>">Next</a> *@
@*                                } *@
@*                             </li> *@
@*                         </ul> *@
@*                     </div> *@
    </div>
</div>
<hr class="featurette-divider">

